.lesson img{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
}

.lesson{
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgb(0,0,0,0.3);
	transition: transform .2s;
}

.lesson:hover{
	transform: scale(1.1);
}